body, h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 72px;
    color:white;
    background-color: black;
}

.link {
    color: blue;
}

a {
    color:blue;
}

.index-header {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid black;
    padding: 30px;
}

.index-list {
    width: 50%;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    padding: 30px;
    font-size: 36px;
    color:white;
    background-color: white;
}
